# Actividad 2: Tipos de variables

We need `seaborn`, which shall be included it in `requirements.txt` file

In [1]:
import pandas as pd
import numpy as np

In [2]:
type(-4.0)

float

In [3]:
type(bool('yes'))

bool

In [5]:
df = "datasets/Cartwheeldata.csv"
a = pd.read_csv(df)
type(a)

pandas.core.frame.DataFrame

In [9]:
a.columns

Index(['ID', 'Age', 'Gender', 'GenderGroup', 'Glasses', 'GlassesGroup',
       'Height', 'Wingspan', 'CWDistance', 'Complete', 'CompleteGroup',
       'Score'],
      dtype='object')

In [12]:
a.loc[:,['Age', 'Gender', 'GenderGroup']].head(2)

   Age Gender  GenderGroup
0   56      F            1
1   26      F            1

In [13]:
a.iloc[:,[1, 2, 3]].head(2)

   Age Gender  GenderGroup
0   56      F            1
1   26      F            1